h1{ 
  margin-top: 30px; 
   
} 
 
.container{ 
  text-align: justify; 

} 
 
img{ 
  max-width: 100%; 
  width: auto; 
  margin-bottom: 30px; 
  position: center;

} 
 
.dateheure{ 
  color: grey; 
  margin:0; 
  font-style: italic; 
  margin-left: 15px; 
} 
 
.lieu{ 
  color: grey; 
  margin:0; 
  margin-bottom: 30px; 
  font-style: italic; 
  margin-left: 15px; 
} 
 
iframe{ 
  width: 100%; 
  max-width:100%; 
  margin-top: 20px; 
  margin-bottom: 75px; 
} 
 
h2{ 
  margin-top: 30px; 
} 
 
body{ 
  background-color: #014955; 
} 
 
.container{ 
  background-color: white; 
  margin-top: 50px; 
  margin-bottom: 50px; 
}
.center{
  text-align: center
}

.commenta{
  margin-bottom: 15px;
  margin-top: 15px;
  min-height:100px;
}

hr{
  margin-top:30px !important;
  margin-bottom: 25px !important;
}

