html{
 /*   overflow-y: none;
    overflow:hidden;
	overflow-x: none;
*/
}

body{
	top: 0;
	left: 0;
	width: 100%;
	margin:0px;
	padding: 0px;
	overflow-y: auto;
	background-color: #014955 !important;
}






h1{
	font-family: 'Pacifico', cursive !important;
	color: white !important;
	text-align: center !important;
	margin-top: 2% !important;
	font-size: 50px !important;
	margin-bottom: 2% !important;
}

#form-event{
	background-color: white !important;
	border-radius: 5px !important;
	padding: 45px !important;
	margin-bottom: 50px !important;
}

#form-event input{
	margin-bottom: 15px !important;
}

#form-event h2{
	margin-bottom: 30px !important;
}



hr{
	margin: 0 !important;
}

.dropdown-menu{
	padding: 0 !important;
}

#boutonevent{
	margin-top: 15px !important;
}

#boutonevent{
	margin-left: 5% !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	background-color: white !important;
	border:solid 2px #1687a7 !important;
	color: black !important;
	font-size: 20px !important;
	font-family: 'Assistant', sans-serif !important;
	border-radius: 15px !important;
}

#boutonevent:hover{
	background-color: #ffffe3 !important;
	color: black !important;
}

.form-group{
	color: grey !important;
}

.form-control{
	color: grey !important;
}
