body{
  background-color: #014955;
}
html{
  overflow-x: none;
  overflow-x:hidden;

}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}



.column img {
  margin-top: 4px;
  margin-bottom: 4px; 
  vertical-align: middle;
  max-width: 100%;
  transition: transform .2s; /* Animation */

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.image {
    position: relative;
    overflow: hidden;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 3px;
    right: 0px;
    background-color: black;
    color: white;
    width: 100%;
    height: 45%;
    max-height: 170px;
    background-color: rgba(0, 0, 0, 0.3);
}

.text-block h4{
  margin-top: 10%;
  margin-left: 10%;
}

.boutonchoix{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 2%;
}

.btn-group button{
  background-color: white;
  color: black;
  border-color: grey;
}

.column img:hover{
  transform: scale(1.1);
}
.column.image:hover > .Heart{
	display: inline;
	animation: apparition;
	animation-duration: 0.5s;
	opacity: 1;
}
@keyframes apparition{
	0%{
		left:100%;
	}
	100%{
		left:90%;
	}
}
.Heart{
	top:50px;
	left:90%;
	position: relative;
  opacity: 1;
  z-index: 100;
}
