#create_group{
    display: inline-block;
    vertical-align: top;
    background-color: antiquewhite;
    width: 350px;
    margin-left: 15px;
}
#my_groups{
    position: relative;
    margin: 0 auto;
    width: 500px;
    background-color: wheat;
    padding: 8px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
#boutton_creation{
    margin: 10px;
}
.group{
    padding: 2px;
    margin:3px;
    background-color: antiquewhite
}
#other_groups{
    width: 500px;
    background-color: wheat;
    padding: 8px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.Title{
    font-size:25px;
}